@using WebUI.App_LocalResources

@{
    ViewBag.Title = GlobalResources.Login;
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item active">@GlobalResources.Login</li>
    </ol>
}

<div class="jumbotron">
    <form class="form-horizontal" role="form" method="POST" action="@Url.Action("SignIn", "Account")">
        <div class="row justify-content-center">
            <div class="col-8">
                <h2>@GlobalResources.Login</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <label class="sr-only" for="email">E-Mail</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-at"></i></div>
                        <input type="email" name="Login" class="form-control" id="email" placeholder="E-Mail" aria-describedby="email-error" required autofocus>
                    </div>
                    <small id="email-error" class="form-text text-muted">Тест</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="form-group">
                    <label class="sr-only" for="password">@GlobalResources.Password</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-key"></i></div>
                        <input type="password" name="Password" class="form-control" id="password" placeholder="@GlobalResources.Password" aria-describedby="password-error" required>
                    </div>
                    <small id="password-error" class="form-text text-muted">Тест</small>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="form-check text-center">
                    <label class="form-check-label">
                        <input class="form-check-input" name="RememberMe" type="checkbox">
                        <span>@GlobalResources.RememberMe</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center items-center">
            <div class="col-8">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-sign-in"></i> @GlobalResources.Login
                </button>
                <div class="dropdown show" style="display: inline">
                    <a class="btn btn-outline-success" href="#" id="dropdown-menu-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @GlobalResources.Regisration
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-menu-link">
                        <a class="dropdown-item" href="@Url.Action("RegistrationUser", "Account")">@GlobalResources.Client</a>
                        <a class="dropdown-item" href="@Url.Action("RegistrationCarService", "Account")">@GlobalResources.CarService</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
