@using WebUI.App_LocalResources
@{
    ViewBag.Title = @GlobalResources.MyApplications;
}


@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item active">@GlobalResources.MyApplications</li>
    </ol>
}

<div class="jumbotron">
    <h3 class="inline">@GlobalResources.MyApplications</h3>
    <div class="pull-right">
        <button class="btn btn-success" data-toggle="modal" data-target="#create-application" data-bind="click: createNewApplication">@GlobalResources.CreateApplication</button>
    </div>

    <hr/>

    <div class="row">
        <div class="col">
            <label for="created-to">@GlobalResources.From</label>
            <input type="date" id="created-from" class="form-control" placeholder="01.01.2018" data-bind="value: createdFrom"/>
        </div>
        <div class="col">
            <label for="created-from">@GlobalResources.To</label>
            <input type="date" id="created-to" class="form-control" placeholder="01.01.2018" data-bind="value: createdTo"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <label for="state">@GlobalResources.ApplicationStatus</label>
            <select id="state" class="form-control" data-bind="options: applicationStates, optionsValue: 'Id', optionsText: 'Name', value: state, optionsCaption: 'Выберите состояние заявки'"></select>
        </div>
        <div class="col">
            <label for="filter-car">@GlobalResources.Car</label>
            <select id="filter-car" class="form-control" data-bind="options: cars, optionsValue: 'Id',
                                        optionsText: function(item) {
                                            return item.Mark + ' ' + item.Model + ' (' + ' ' + item.Name + ' )';
                                        },
                                        value: carId,
                                        optionsCaption: '@GlobalResources.ChooseACar'"></select>
        </div>
    </div>
    
    <br/>

    <div class="row">
        <div class="col">
            <div class="pull-right">
                <button class="btn btn-success" data-bind="click: find">@GlobalResources.Find</button>
                <button class="btn btn-info" data-bind="click: clearFilter">@GlobalResources.ClearFilter</button>
            </div>
        </div>
    </div>

    <hr/>

    @Html.Partial("_Pagination")
    
    <!-- ko if: applications().length -->
    <!-- ko foreach: applications -->
    <div class="row application-info">
        <div class="col">
            <div>
                <h4 data-bind="css: {'success-application': $data.State == window.resource.applicationStates.completed, 'error-application': $data.State == window.resource.applicationStates.rejected}">Заявка № <span data-bind="text: $data.Id"></span></h4>
            </div>
            <div>
                @GlobalResources.Car
                <span data-bind="text: $data.Car.Mark"></span>
                <span data-bind="text: $data.Car.Model"></span>
                <span data-bind="text: $data.Car.Year"></span>
                <span data-bind="text: $data.Car.EngineCapacity"></span>
                <span data-bind="text: $data.Car.FuelTypeDescription"></span>
            </div>
            <div class="word-wrap">
                @GlobalResources.WorksDescription
                <span data-bind="text: $data.Description"></span>
            </div>
            <div>
                @GlobalResources.ApplicationStatus
                <span data-bind="text: $data.StateDescription"></span>
            </div>
            <!-- ko if: $data.ServiceName -->
            <div>
                @GlobalResources.Service
                <span data-bind="text: $data.ServiceName"></span>
            </div>
            <!-- /ko -->
            <div>
                @GlobalResources.City:
                <span data-bind="text: $data.CityName"></span>
            </div>
            <div>
                @GlobalResources.ApplicationDate
                <span data-bind="text: $data.Created"></span>
            </div>
            <div class="row pull-right">
                <button class="btn btn-warning" data-bind="click: $root.saveFilter">@GlobalResources.View</button>
            </div>
        </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !applications().length -->
    <div class="text-center">
        <h2>@GlobalResources.NoRecordsFound</h2>
    </div>
    <!-- /ko -->
</div>

<div class="modal fade" id="create-application" role="dialog">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@GlobalResources.ApplicationCreating</h4>
                    <button type="button" class="close" id="close-button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div>
                                <label for="car-selector">@GlobalResources.ChooseACar</label>
                                <select class="form-control" id="car-selector" data-bind="options: cars,
                                        optionsValue: 'Id',
                                        optionsText: function(item) {
                                            return item.Mark + ' ' + item.Model + ' (' + ' ' + item.Name + ' )';
                                        },
                                        value: newApplication.carId,
                                        optionsCaption: '@GlobalResources.ChooseACar'" aria-describedby="car-id-error">
                                </select>
                                <small id="car-id-error" class="form-text validation-error-text" data-bind="validationMessage: newApplication.carId"></small>
                            </div>
                            <br/>
                            <div>
                                <label for="city-selector">@GlobalResources.ChooseCity</label>
                                <select class="form-control" id="city-selector" data-bind="options: cities,
                                        optionsValue: 'Id',
                                        optionsText: 'Name',
                                        value: newApplication.cityId,
                                        optionsCaption: '@GlobalResources.ChooseCity'" aria-describedby="city-id-error">
                                </select>
                                <small id="city-id-error" class="form-text validation-error-text" data-bind="validationMessage: newApplication.cityId"></small>
                            </div>
                            <br/>
                            <div>
                                <label for="work-description">@GlobalResources.WorksDescription</label>
                                <textarea class="form-control" id="work-description" rows="3" data-bind="value: newApplication.description" aria-describedby="description-error"></textarea>
                                <small id="description-error" class="form-text validation-error-text" data-bind="validationMessage: newApplication.description"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success" data-bind="click: sendNewApplication">@GlobalResources.SendApplication</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">@GlobalResources.Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>    

@section scripts {
    @Scripts.Render("~/Scripts/userApplicationsVM")
    <script>
        var viewModel = userApplicationsVM;
        ko.validation.init({
            insertMessages: false,
            decorateInputElement: true,
            errorElementClass: "is-invalid"
        }, true);
        ko.applyBindings(viewModel);
        $(function() {
            viewModel.init();
        });
    </script>
}