@using WebUI.App_LocalResources
@{
    ViewBag.Title = "Заявки";
}

<!-- TODO Перевести -->

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item active">Заявки</li>
    </ol>
}

<div class="jumbotron">
    <h3>Заявки</h3>
    <hr />
    
    <div class="row">
        <div class="col">
            <label for="created-to">C</label>
            <input type="date" id="created-from" class="form-control" placeholder="01.01.2018" data-bind="value: createdFrom" />
        </div>
        <div class="col">
            <label for="created-from">По</label>
            <input type="date" id="created-to" class="form-control" placeholder="01.01.2018" data-bind="value: createdTo" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="state">Состояние заявки</label>
            <select id="state" class="form-control" data-bind="options: applicationStates, optionsValue: 'Id', optionsText: 'Name', value: state, optionsCaption: 'Выберите состояние заявки'"></select>
        </div>
    </div>
    
    <hr />

    @Html.Partial("_Pagination")
    
    <!-- ko if: applications().length -->
        <!-- ko foreach: applications -->
        <div class="row application-info">
            <div class="col">
                <div>
                    <h4>Заявка № <span data-bind="text: $data.Id"></span></h4>
                </div>
                <div>
                    Автор заявки:
                    <span data-bind="text: $data.UserContactName"></span>
                </div>
                <div>
                    Машина:
                    <span data-bind="text: $data.Car.Mark"></span>
                    <span data-bind="text: $data.Car.Model"></span>
                    <span data-bind="text: $data.Car.Year"></span>
                    <span data-bind="text: $data.Car.EngineCapacity"></span>
                    <span data-bind="text: $data.Car.FuelTypeDescription"></span>
                </div>
                <div class="word-wrap">
                    Описание работ:
                    <span data-bind="text: $data.Description"></span>
                </div>
                <div>
                    Cостояние:
                    <span data-bind="text: $data.StateDescription"></span>
                </div>
                <!-- ko if: $data.CarServiceId -->
                <div>
                    <!-- TODO ссылка на профиль-->
                    Автосервис:
                    <a href="#" data-bind="text: $data.CarServiceName"></a>
                </div>
                <!-- /ko -->
                <div>
                    Город:
                    <span data-bind="text: $data.CityName"></span>
                </div>
                <div>
                    Дата подачи заявки:
                    <span data-bind="text: $data.Created"></span>
                </div>
                <div class="row pull-right">
                    <button class="btn btn-warning" data-bind="click: $root.saveFilter">@GlobalResources.View</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: !applications().length -->
    <div class="text-center">
        <h2>@GlobalResources.NoRecordsFound</h2>
    </div>
    <!-- /ko -->
</div>

@section scripts {
    @Scripts.Render("~/Scripts/administratorApplicationsVM")
    <script>
        var viewModel = administratorApplicationsVM;
        ko.applyBindings(viewModel);
        $(function() {
            viewModel.init();
        });
    </script>
}
