<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Html.Partial("_HeaderScript")
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Content/Images/gear.svg")" width="32" height="32" class="d-inline-block align-top" alt=""> Crimean-Mechanic
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Меню<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>

        @if (!User.Identity.IsAuthenticated)
        {
            <form class="form-inline my-2 my-lg-0" style="padding-right: 0.5rem">
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("SignIn", "Account")">Войти</a>
            </form>
        }
        else
        {
            <form class="form-inline my-2 my-lg-0" style="padding-right: 0.5rem">
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("SignOut", "Account")">Выйти</a>
            </form>
        }

    </div>
</nav>
    <br/>

<div class="container">
        @RenderBody()
</div>
@Scripts.Render("~/Scripts/js")
@RenderSection("scripts", required: false)
</body>
</html>
