@using WebUI.App_LocalResources
@using WebUI.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery")
    @Html.Partial("_HeaderScript")
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/Content/Images/gear.svg")" width="32" height="32" class="d-inline-block align-top" alt=""> Crimean-Mechanic
    </a>
    <div class="collapse navbar-collapse">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole(Common.Constants.CommonRoles.Administrator))
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("RegistrationRequests", "CarService")">@GlobalResources.AppsForRegister</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Application")">Заявки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "CarService")">Автосервисы</a>
                        </li>
                    </ul>
                }
                else if (User.IsInRole(Common.Constants.CommonRoles.Regular))
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Garage")">@GlobalResources.Garage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Application")">Мои заявки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "CarService")">Автосервисы</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Pool", "Application")">Заявки на ремонт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Application")">Заявки автосервиса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "CarService")">Автосервисы</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "CarService")">Автосервисы</a>
                    </li>
                </ul>
            }
    </div>
    
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="btn btn-outline-success" href="@Url.Action("SignIn", "Account")">@GlobalResources.Login</a>
    }
    else
    {
        <span class="user-name">@User.Identity.Name</span>
        <a class="btn btn-outline-success" href="@Url.Action("SignOut", "Account")">@GlobalResources.LogOut</a>
    }

</nav>
<br/>
<div class="container">
    <div class="row">
        <div class="col-12">
            @RenderSection("breadcrumbs", required: false)
        </div>
    </div>
    @RenderBody()
</div>
<footer class="footer">
    <div class="container">
        <p class="text-muted pull-right">@GlobalResources.FooterText @DateTime.UtcNow.Year |
            <a href="@Url.LangSwitch(ViewContext.RouteData, "ru")">RU</a>
            <a href="@Url.LangSwitch(ViewContext.RouteData, "en")">EN</a>
        </p>
    </div>
</footer>
@Scripts.Render("~/Scripts/js")
@Scripts.Render("~/Scripts/knockout")
@Scripts.Render("~/Scripts/helpers")
@RenderSection("scripts", required: false)
</body>
</html>
