<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <nav class="row">
            <div class="main-page">
                <a href="@Url.Action("Index", "Home")">Crimea-Mechanic</a>
            </div>
            <div class="user-profile-actions">
                @if (User.Identity.IsAuthenticated)
                {
                    @User.Identity.Name
                    <button class="btn btn-outline-primary">Выйти</button>
                }
                else
                {
                    <button class="btn btn-outline-primary">Логин</button>
                }
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Crimea-Mechanic</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", required: false)
</body>
</html>
