@using WebUI.App_LocalResources
@{
    ViewBag.Title = @GlobalResources.AutoserviceCard;
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "CarService")">Автосервисы</a></li>
        <li class="breadcrumb-item active">@GlobalResources.AutoserviceCard</li>
    </ol>
}

<div class="jumbotron">
    <h4 class="inline">
        <span data-bind="text: model.Name"></span>
        <span class="gold">
            <!-- ko foreach: new Array(model.AverageMark())-->
            <i class="fa fa-star"></i>
            <!-- /ko -->
        </span>
    </h4>
    
    <div class="pull-right">
        @if (User.IsInRole(Common.Constants.CommonRoles.Regular))
        {
            <!-- ko if: model.State() == window.resource.carServiceStates.active -->
            <!-- ko if: !model.ReviewId() -->
            <button class="btn btn-success" data-toggle="modal" data-target="#add-review">Добавить отзыв</button>
            <!-- /ko -->
            <!-- ko if: model.ReviewId() -->
            <button class="btn btn-success" data-bind="click: deleteReview">Удалить отзыв</button>
            <!-- /ko -->
            <!-- /ko -->
        }
        @if (User.IsInRole(Common.Constants.CommonRoles.Administrator))
        {
            <!-- ko if: model.State() == window.resource.carServiceStates.blocked -->
            <button class="btn btn-success" data-bind="click: function() { changeCarServiceState (false) }">Разблокировать</button>
            <!-- /ko -->
            <!-- ko if: model.State() == window.resource.carServiceStates.active -->
            <button class="btn btn-danger" data-bind="click: function() { changeCarServiceState (true) }">Блокировать</button>
            <!-- /ko -->
        }
    </div>
    <!--<div class="pull-right" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-cog pull-right"></i>
    </div> -->
    <hr />

    <div class="row">
        <!-- ko if: model.Id() && model.LogoPhotoId() -->
        <div>
            <img class="car-service-logo" data-bind="attr: {src: window.resource.urls.webApiGetPhotoUrl + '/' + model.LogoPhotoId() }">
        </div>
        <!-- /ko -->
        <div class="col-9">
            <div>
                @GlobalResources.City:
                <span data-bind="text: model.CityName"></span>
            </div>

            <div>
                @GlobalResources.AddressCarService:
                <span data-bind="text: model.Address"></span>
            </div>
            
            <div>
                @GlobalResources.ManagerName:
                <span data-bind="text: model.ManagerName"></span>
            </div>

            <div>
                @GlobalResources.ContactEmailCarService:
                <span data-bind="text: model.Email"></span>
            </div>

            <div>
                @GlobalResources.CarServiceSite:
                <a data-bind="text: model.Site, attr: {href: model.Site}"></a>
            </div>

            <div>
                @GlobalResources.ContactPhoneNumbers:
                <!--ko foreach: model.Phones-->
                <span data-bind="text: $data"></span>
                <!-- /ko -->
            </div>
            <div>
                @GlobalResources.CarServiceWorkTime:
                <span data-bind="text: model.TimetableWorks"></span>
            </div>
        </div>
    </div>
    <br />

    <div class="section">
        <h4>@GlobalResources.AboutCarService</h4>
        <hr />
    </div>
    <!-- ko if: model.PhotosId().length-->
    <div class="row justify-content-center">
        <!-- ko foreach: model.PhotosId-->
        <div class='list-group gallery'>
            <div class='col-3'>
                <div class="thumbnail">
                    <img class="img-responsive car-service-photo" data-bind="attr: {src: window.resource.urls.webApiGetPhotoUrl + '/' + $data}" />
                    <div class='text-right'>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <br/>

    <div class="row">
        <div class="col">
            <p data-bind="text: model.About"></p>
        </div>
    </div>

    <br/>

    <!-- ko if: model.Reviews().length-->
    <div class="section">
        <h4>@GlobalResources.Reviews</h4>
        <hr/>
        <br/>
    </div>
    
    <section class="comments">
        <!-- ko foreach: model.Reviews -->
        <article class="comment">
            <a class="comment-img">
            </a>
            <div class="comment-body">
                <div class="text gold">
                    <!-- ko foreach: new Array($data.Mark())-->
                    <i class="fa fa-star"></i>
                    <!-- /ko -->
                </div>
                <div class="text">
                    <p data-bind="text: $data.Review"></p>
                </div>
                <p class="attribution"><span data-bind="text: $data.Author"></span> <span data-bind="text: $data.Created"></span>
                </p>
            </div>
        </article>
        <!-- /ko -->
    </section>
    <!-- /ko -->
</div>

<div class="modal fade" id="add-review" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление отзыва</h4> <!-- TODO -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="mark-review">Оценка</label>
                        <select id="mark-review" class="form-control" data-bind="options: availableMarks, value: newReview.mark, optionsCaption: 'Выберите оценку'" aria-describedby="mark-error"></select>
                        <small id="mark-error" class="form-text validation-error-text" data-bind="validationMessage: newReview.mark"></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="review-content">Отзыв</label>
                        <textarea id="review-content" class="form-control" cols="3" data-bind="value: newReview.review" aria-describedby="review-error"></textarea>
                        <small id="review-error" class="form-text validation-error-text" data-bind="validationMessage: newReview.review"></small>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" data-bind="click: addReview">Отправить</button> <!-- TODO -->
                <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalResources.Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@GlobalResources.ServiceInformationEdit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div>
                            <label>@GlobalResources.ManagerName:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.City:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.AddressCarService:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.CarServiceSite:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.ContactEmailCarService:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.ContactEmailCarService:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.WorkTags:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.AcceptedMarksList:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>

                        <div>
                            <label>@GlobalResources.CarServiceWorkTime:</label>
                            <input type="text" class="form-control" id="new-service-name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalResources.Cancel</button>
            </div>
        </div>

    </div>
</div> -->

@section scripts {
    @Scripts.Render("~/Scripts/carServiceCard")
    <script>
        var viewModel = carServiceCardVM;
        $(document).ready(function () {
            $(document).trigger("showLoadingPanel");
            viewModel.model.Id(@ViewBag.Id);
            viewModel.init();
            ko.validation.init({
                insertMessages: false,
                decorateInputElement: true,
                errorElementClass: "is-invalid"
            }, true);
            ko.applyBindings(viewModel);
        });
    </script>
}