@using WebUI.App_LocalResources
@{
    ViewBag.Title = GlobalResources.CarServices;
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item active">@GlobalResources.CarServices</li>
    </ol>
}

<div class="jumbotron">
    <h3>@GlobalResources.CarServiceRaiting</h3>
    <hr/>
    
    <div class="row">
        <div class="col">
            <label for="name-service">@GlobalResources.CarServiceName</label>
            <input type="text" id="name-service" class="form-control" placeholder="@GlobalResources.CarServiceName" data-bind="value: name"/>
        </div>
        <div class="col">
            <label for="city-service">@GlobalResources.City</label>
            <select id="city-service" class="form-control" data-bind="options: cities, optionsValue: 'Id', optionsText: 'Name', value: cityId, optionsCaption: '@GlobalResources.ChooseCity'"></select>
        </div>
        <div class="col">
            <label for="star-service">@GlobalResources.CountStars</label>
            <select id="star-service" class="form-control" data-bind="options: starsCount, value: stars, optionsCaption: '@GlobalResources.ChooseCountStars'"></select>
        </div>
    </div>
    @if (User.IsInRole(Common.Constants.CommonRoles.Administrator))
    {
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" data-bind="checked: showBlocked">
                        @GlobalResources.ShowBlocked
                    </label>
                </div>
            </div>
        </div>
    }

    <hr/>
    
    @Html.Partial("_Pagination")
    
    <!-- ko if: carServices().length -->
    <div class="justify-content-center">
        <!-- ko foreach: carServices -->
        <div class="row car-service-info" data-bind="css: { deleted: $data.State == window.resource.carServiceStates.blocked }">
            <!-- ko if: $data.LogoPhotoId-->
            <img data-bind="attr: {src: window.resource.urls.webApiGetPhotoUrl + '/' + $data.LogoPhotoId }" />
            <!-- /ko -->
            <div class="col">
                <span class="rating">
                    <!-- ko foreach: new Array($data.AverageMark)-->
                    <i class="fa fa-star"></i>
                    <!-- /ko -->
                </span>
                <span class="position" data-bind="text: ($index() + 1) + (($root.currentPage() - 1) * $root.itemsPerPage())"></span>
                <div class="row">
                    <span>@GlobalResources.CarServiceName:</span><strong data-bind="text: $data.Name"></strong>
                </div>
                <div class="row">
                    <span>@GlobalResources.City:</span><span data-bind="text: $data.CityName"></span>
                </div>
                <div class="row">
                    <span>@GlobalResources.AddressCarService:</span><span data-bind="text: $data.Address"></span>
                </div>
                <div class="row">
                    <span>@GlobalResources.AboutCarService:</span><span class="word-wrap" data-bind="text: $data.About"></span>
                </div>
                <div class="row">
                    <span>@GlobalResources.RegistrationDate:</span><span data-bind="text: $data.Created"></span>
                </div>
                <div class="row pull-right">
                    <a class="btn btn-warning" data-bind="click: $root.saveFilter">@GlobalResources.View</a>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: !carServices().length -->
    <div class="text-center">
        <h2>@GlobalResources.NoRecordsFound</h2>
    </div>
    <!-- /ko -->
</div>

@section scripts {
    @Scripts.Render("~/Scripts/carServicesVM")
    <script>
        var viewModel = carServicesVM;
        ko.applyBindings(viewModel);
        $(function() {
            viewModel.init();
        });
    </script>
}