@using WebUI.App_LocalResources
@{
    ViewBag.Title = @GlobalResources.Garage;
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GlobalResources.Home</a></li>
        <li class="breadcrumb-item active">@GlobalResources.Garage</li>
    </ol>
}

<div class="jumbotron">
    <div class="row" >
        <div class="col">
            <h3>@GlobalResources.MyGarage</h3>
        </div>
                    
        <div class="col">
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal" data-bind="click: getMarks">Добавить авто</button>
        </div>
    </div>
    
    <div class="form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" data-bind="checked: showDeleted">
            @GlobalResources.ShowDeleted    
        </label>
    </div>
    
    <hr />
    
    @Html.Partial("_Pagination")

    <!-- ko if: cars().length -->
    <div class="justify-content-center">
        <!-- ko foreach: cars -->
        <div class="row car-info" data-bind="css: {deleted: $data.IsDeleted}">
            <div class="align-self-center">
                <i class="fa fa-car"></i>
            </div>
            <div class="col">
                <div class="car-name justify-content-center">
                    <span data-bind="text: $data.Name"></span>
                </div>
                <div>
                    @GlobalResources.CarMark <span data-bind="text: $data.Mark"></span>
                </div>
                <div>
                    @GlobalResources.CarModel <span data-bind="text: $data.Model"></span>
                </div>
                <div>
                    @GlobalResources.VIN <span data-bind="text: $data.Vin"></span>
                </div>
                <div>
                    @GlobalResources.CarYearOfAssembly <span data-bind="text: $data.Year"></span>
                </div>
                <div>
                    @GlobalResources.CarFuelType <span data-bind="text: $data.FuelTypeDescription"></span>
                </div>
                <div>
                    @GlobalResources.CarEngine: <span data-bind="text: $data.EngineCapacity"></span>
                </div>
                <div class="row pull-right">
                    <button class="btn btn-warning" data-bind="click: $root.saveFilter">@GlobalResources.View</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: !cars().length -->
    <div class="text-center">
        <h2>@GlobalResources.CarsNotFound</h2>
    </div>
    <!-- /ko -->
</div>

<div class="modal fade" id="myModal" role="dialog">
    <form>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@GlobalResources.CarAdding</h4>
                    <button type="button" class="close" id="close-button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div>
                                <label>@GlobalResources.CarName</label>
                                <input type="text" class="form-control" data-bind="value: newCar.Name" aria-describedby="name-error">
                                <small id="name-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.Name"></small>
                            </div>
                            <div>
                                <label>@GlobalResources.CarMark</label>
                                <input type="text" class="form-control" list="marks" data-bind="value: mark"/>
                                <datalist id="marks" data-bind="foreach: marks">
                                    <option data-bind="value: $data.Name"></option>
                                </datalist>
                            </div>
                            <div>
                                <label>@GlobalResources.CarModel</label>
                                <select class="form-control" data-bind="options: models, optionsValue: 'Id', optionsText: 'Name', value: newCar.ModelId, optionsCaption: 'Выберите модель машины'" aria-describedby="model-error">
                                </select>
                                <small id="model-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.ModelId"></small>
                            </div>
                            <div>
                                <label>@GlobalResources.VIN</label>
                                <input type="text" class="form-control"  data-bind="value: newCar.Vin" maxlength="17" aria-describedby="vin-error">
                                <small id="vin-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.Vin"></small>
                            </div>
                            <div>
                                <label>@GlobalResources.CarYearOfAssembly</label>
                                <input type="text" class="form-control" id="car-year" data-bind="value: newCar.Year" maxlength="4" aria-describedby="year-error">
                                <small id="yaer-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.Year"></small>
                            </div>
                            <div>
                                <label>@GlobalResources.CarFuelType</label>
                                <select class="form-control" data-bind="options: fuelTypes, optionsValue: 'Id', optionsText: 'Name', value: newCar.FuelType, optionsCaption: 'Выберите тип топлива'" aria-describedby="fuel-type-error">
                                </select>
                                <small id="fuel-type-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.FuelType"></small>
                            </div>
                            <div>
                                <label>@GlobalResources.CarEngine</label>
                                <input type="text" class="form-control" id="car-engine-capacity" data-bind="value: newCar.EngineCapacity" maxlength="3" aria-describedby="engine-capacity-error">
                                <small id="engine-capacity-error" class="form-text validation-error-text" data-bind="validationMessage: newCar.EngineCapacity"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button class="btn btn-success" data-bind="click: addCar">@GlobalResources.AddACar</button>
                    <button class="btn btn-danger" data-dismiss="modal">@GlobalResources.Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts {
    @Scripts.Render("~/Scripts/garagePageVM")
    <script>
        var viewModel = garagePageVM;
        ko.validation.init({
            insertMessages: false,
            decorateInputElement: true,
            errorElementClass: "is-invalid"
        }, true);
        ko.applyBindings(viewModel);
        $(function() {
            viewModel.init();
        });
    </script>
}