@using WebUI.App_LocalResources
@using WebUI.Helpers
@{
    ViewBag.Title = "Home Page";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">@GlobalResources.Home</li>
    </ol>
}

<div class="jumbotron">
    <div class="row justify-content-center">
        <h3><label>@GlobalResources.Hello!</label></h3>
    </div>
    <div class="row justify-content-center">
        <h5><label>@GlobalResources.HomeIntroducing</label></h5>
    </div>

    <div class="row justify-content-center">
        <h5><label>@GlobalResources.HomeHowItsWork:</label></h5>
    </div>

    <div class="row justify-content-center">
        <div class="col align-self-center">
            @GlobalResources.HomeStep1
        </div>

        <div class="col-1 align-self-center">
            <i class="fa fa-arrow-circle-right fa-4x"></i>
        </div>

        <div class="col align-self-center">
            @GlobalResources.HomeStep2
        </div>

        <div class="col-1 align-self-center">
            <i class="fa fa-arrow-circle-right fa-4x"></i>
        </div>

        <div class="col align-self-center">
            @GlobalResources.HomeStep3
        </div>

        <div class="col-1 align-self-center">
            <i class="fa fa-arrow-circle-right fa-4x"></i>
        </div>

        <div class="col-2 align-self-center">
            @GlobalResources.HomeStep4.
        </div>

        <div class="col-1 align-self-center">
            <i class="fa fa-arrow-circle-right fa-4x"></i>
        </div>

        <div class="col align-self-center">
            @GlobalResources.HomeStep5!
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="row justify-content-center">
        <h4>
            <label>@GlobalResources.BestServices:</label>
        </h4>
    </div>
    <div class="row justify-content-center">
        <!-- ko foreach: bestServices -->
            <div class="car-service-main col-4">
                <!-- ko if: $data.LogoPhotoId-->
                <div class="row justify-content-center">
                    <img class="car-service-photo" data-bind="attr: {src: window.resource.urls.webApiGetPhotoUrl + '/' + $data.LogoPhotoId }" />
                </div>
                <!-- /ko -->
                <div class="row justify-content-center">
                    <h5 data-bind="text: $data.Name"></h5>
                </div>
                <div class="row justify-content-center">
                    <span data-bind="text: $data.CityName"></span>
                </div>
                <div class="row justify-content-center">
                    <span class="desc" data-bind="text: $data.Address"></span>
                </div>
                <div class="row justify-content-center">
                    <!-- ko foreach: new Array($data.AverageMark)-->
                    <i class="fa fa-star gold"></i>
                    <!-- /ko -->
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-warning" data-bind="attr: {href: window.resource.urls.webUiCarServiceCardUrl + '/' + $data.Id}">@GlobalResources.View</a>
                </div>
            </div>
        <!-- /ko -->
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/homePage")
    <script>
        var viewModel = homePageVM;
        ko.applyBindings(viewModel);
        
        $(function () {
            $(document).trigger("showLoadingPanel");
            viewModel.init();
        });

    </script>
}
